body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(249, 253, 1);
    color: #111111;
}

/* .active:hover {
    background-color: #036944;
} */

.active {
    background-color: #00ac8f;
}

.lstChld {
    float: right;
}

.frsChld {
    padding-right: 15px;
    padding-left: 15px;
}

.lrtt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbarLogo {
    margin-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
    width: 35px;
    height: 35px;
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    color: #000;
}

.container-1 {
    display: block;
}
.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 550px;
    border-radius: 35px;
    background-image: linear-gradient(145deg, #4a45f3 0%, #801a7c 100%);
}

.post-sec {
    margin-bottom: 70px;
    margin-left: 0px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 2px; */
}

.newsSecTitleDiv,
.newsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.newsSecTitle {
    margin-top: 90px;
    margin-bottom: -60px;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 2px solid #018dc4;
}

.news-1,
.news-2,
.news-3 {
    text-align: center;
    margin: 100px 20px 35px 20px;
    padding: 15px 15px 28px 15px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 0 10px #555;
    background-color: #ebebeb;
}

.breakingNews {
    border-radius: 15px;
    width: 250px;
    height: 166px;
}
.breakingNews:hover {
    filter: brightness(85%);
    transition: filter 0.35s;
}

.newsTitle {
    margin-top: 15px;
    margin-bottom: 25px;
}

.blogBtn {
    text-decoration: none;
    padding: 9px 15px;
    font-weight: 700;
    border: 2px solid #002ead;
    border-radius: 5px;
}
.blogBtn:hover {
    padding: 9px 15px;
    font-size: 18px;
    transition: filter 0.35s;
}

.Q-L-Sec,
.Q-R-Sec {
    width: 50%;
}

.Q-L-Sec {
    position: relative;
    padding-left: 120px;
    /* text-align: center; */
    color: #fff;
}

.Home-Q-Title {
    margin-top: -80px;
    margin-bottom: 100px;
}

.Home-Q-Text {
    margin-bottom: 25px;
}

.home-contact-btn {
    position: relative;
    margin-left: 235px;
    text-decoration: none;
    padding: 10px 28px;
    font-size: 20px;
    font-weight: 600;
    background-color: #eee;
    box-shadow: 1px 6px 15px #252525;
    border-radius: 50px;
}
.home-contact-btn:hover {
    top: -5px;
    /* transition: position 0.35s; */
}

.noDrug,
.loading {
    text-align: center;
}

.drugSecTitleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
.drugSecTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 2px solid #018dc4;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #123962; */
    background-color: #051120;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footer-row-1 {
    text-align: center;
    padding-top: 15px;
}

.footer-img {
    filter: invert(100%);
    padding-right: 10px;
    padding-bottom: 5px;
    width: 45px;
    height: 45px;
}
.footer-img:hover {
    filter: invert(65%);
    width: 42px;
    height: 42px;
}

.footer-row-2,
.footer-row-3 {
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-top: 3px;
}

.footer-row-4 {
    color: #aaa;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: -3px;
}

.footer-row-1 a,
.footer-row-2 a,
.footer-row-3 a,
.footer-row-4 a {
    color: #fff;
    text-decoration: none;
}

.footer-row-1 a:hover,
.footer-row-2 a:hover,
.footer-row-3 a:hover,
.footer-row-4 a:hover {
    color: #acacac;
    font-size: 16px;
    text-decoration: underline;
}
